.control-button {
    margin-left: 5px;
    margin-right: 5px;
}


blink {
    animation: blink 1s steps(5, start) infinite;
    -webkit-animation: blink 1s steps(5, start) infinite;
}

@keyframes blink {
    to {
        color: red;
    }
}
@-webkit-keyframes blink {
    to {
        color: red;
    }
}