<template name="vote">
    <div class="col-md-6">
        <h3>Vote for Your favorite Sci-Fi Movie!</h3>
        use Your eth address as source of Wei
        {{> dapp_addressInput placeholder="0x000000.." class="sender-address" value=testAccount}}
        <br/><small> You can use {{testAccount}} to test app,<br/> curr balance: {{testAccBalance}}</small>
    </div>
    <div class="col-md-6">
        How to vote: input film title, add some Wei and click Vote! button<br/>
        Or click <span class='control-button'><i class="fa fa-thumbs-o-up fa-2x"></i></span> to add 1MWeis to film vote<br/>
        <span class='control-button '><i class="fa fa-thumbs-o-down fa-2x"></i></span>
        to downvote (will subsctruct 1MWeis and spread to other films)<br/>
        or just claim by clicking
        <span class='control-button '><i class="fa fa-hand-rock-o fa-2x"></i></span>
        <small>this feature is not implemented yet!</small>
        <div class="vote form-horizontal " >
            <div class="form-group">
                <label for="inputType" class="col-md-3 control-label">New film title:</label>
                <div class="col-md-7">
                    <input type="text" class="form-control" id="newFilmName" name="film" placeholder='Film'>
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <label for="inputKey" class="col-md-3 control-label">amount in MWei</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="amount" name="amount"   placeholder='1 MWei'>
                    </div>
                    <button id="vote" class="btn btn-primary col-md-3">Add new and Vote!</button>
                </div>
            </div>
        </div>
    </div>
</template>


