<template name="vote">
    <div class="row">
        <h3>Vote for Your favorite Sci-Fi Movie!</h3>
        How to vote: input film title, add some Eth and click Vote!<br/>
        {{> dapp_addressInput placeholder="0x000000.." class="sender-address" value='0x92629b497cb2a870668de1ee8a6537ead02205f8'}}
        <small> use Your eth address as source of Eth</small>
    </div>
    <div class="row">
        <form class="vote form-horizontal col-md-6" role="form">
            <div class="form-group">
                <label for="inputType" class="col-md-2 control-label">Film title:</label>
                <div class="col-md-7">
                    <input type="text" class="form-control" name="film" placeholder='Film'>
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <div class="form-group row">
                        <label for="inputKey" class="col-md-3 control-label">amount in Wei</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" name="amount"   placeholder='10000 Wei'>
                        </div>
                        <button type="submit" id="submitBtn" class="btn btn-primary col-md-3">Vote!</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>


